<!-- <form [formGroup]="parentForm">
  <select name="parent" id="parent" formControlName="parent" >
    <option *ngFor="let parent of parentData" [value]="parent.id"> {{ parent.name }} </option>
  </select>
</form>
<p *ngIf="childNotFoundMessage">Child Not Found!!</p>
<app-child [selectedParentId]="selectedParentId" (childNotFound)="childNotFound($event)"></app-child> -->

<div class="container">
  <div class="content">
    <h1>Please Select a option</h1>
    <form [formGroup]="parentForm">
      <mat-form-field>
        <mat-label>Select Parent</mat-label>
        <mat-select formControlName="parent">
          <mat-option *ngFor="let parent of parentData" [value]="parent.id">{{parent.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <ng-container *ngIf="!childNotFoundMessage; else noDataFound">
      <app-child [selectedParentId]="selectedParentId" (childNotFound)="childNotFound($event)"></app-child>
    </ng-container>
    <ng-template #noDataFound>
      <h3>No Data Found!</h3>
    </ng-template>
  </div>
</div>