//variables

$background-color: #f2f2f2;
$box-shadow-color: #d0d0d0;
$container-min-height: 100vh;
$content-bg-color: #ffffff;

//styles

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color;
    min-height: $container-min-height;

    .content{
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 20px 3px $box-shadow-color;
        padding: 2rem;
        justify-content: center;
        align-items: center;
        background-color: $content-bg-color;
        border-radius: 1rem;
        text-align: center;

        mat-form-field{
            width: 15rem;
        }
    }
}

